<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Admin
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">Profilim</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">Profili Düzenle</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/Settings/Index/">
                                <span class="link-collapse">Ayarlar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="/Default/Index/">
                    <i class="la la-bullhorn"></i>
                    <p>Siteye Git</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Menu/Index/">
                    <i class="la la-list-alt"></i>
                    <p>Menüyü Gör</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Dashboard/Index">
                    <i class="la la-dashboard"></i>
                    <p>Anlık Durum Sayfası</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Statistic/Index/">
                    <i class="la la-bar-chart"></i>
                    <p>İstatistikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Category/Index/">
                    <i class="la la-keyboard-o"></i>
                    <p>Kategoriler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Product/Index/">
                    <i class="la la-birthday-cake"></i>
                    <p>Ürünler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Order/Index/">
                    <i class="la la-reorder"></i>
                    <p>Siparişler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/RestaurantTable/Index/">
                    <i class="la la-balance-scale"></i>
                    <p>Masalar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/RestaurantTable/TableListByStatus/">
                    <i class="la la-spinner"></i>
                    <p>Masa Durumları</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/QRCode/Index/">
                    <i class="la la-qrcode"></i>
                    <p>Qr Kod Oluştur</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Reservation/Index/">
                    <i class="la la-bell"></i>
                    <p>Rezervasyonlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/About/Index/">
                    <i class="la la-font"></i>
                    <p>Hakkımızda</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/DiscountOfDay/Index/">
                    <i class="la la-money"></i>
                    <p>İndirimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Contact/Index/">
                    <i class="la la-phone-square"></i>
                    <p>İletişim</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/FooterInfo/Index/">
                    <i class="la la-info"></i>
                    <p>Alt Bilgi</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Feature/Index/">
                    <i class="la la-bolt"></i>
                    <p>Öne Çıkanlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Testimonial/Index/">
                    <i class="la la-graduation-cap"></i>
                    <p>Referanslar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/SocialMedia/Index/">
                    <i class="la la-gamepad"></i>
                    <p>Sosyal Medya</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Message/Index/">
                    <i class="la la-vimeo-square la-vine la-vk la-volume-down la-volume-off la-volume-up la-warning la-wechat"></i>
                    <p>Anlık Mesajlasşma</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Notification/Index/">
                    <i class="la la-tint"></i>
                    <p>Bildirimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Settings/Index/">
                    <i class="la la-gear"></i>
                    <p>Ayarlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/SendEmail/Index/">
                    <i class="la la-mail-forward"></i>
                    <p>Mail Gönder</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Account/Logout/">
                    <i class="la la-sign-out"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
        </ul>
    </div>
</div>