@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/Layout/AdminLayoutIndex.cshtml";
}

<div class="container-fluid">
    <h4 class="page-title">Kategori İşlemleri</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Kategori Ekleme Sayfası</div>
                </div>
                <form method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name">Kategori Adı</label>
                            <input type="text" class="form-control" asp-for="Name" id="name">
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn btn-success">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

