@{
    Layout = null;
}

<!DOCTYPE html>
<html>


@await Component.InvokeAsync("_UILayoutHeaderComponentPartial")

<body class="sub_page">


    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")
    </div>

    <section class="food_section layout_padding">
        <div class="container">
            <h4 class="page-title">Anlık İstemci Sayısı : <strong id="clientCount"></strong></h4>
        </div>
    </section>

    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    @await Component.InvokeAsync("_UILayoutScriptsComponentPartial")
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
        <script type="text/javascript">

            $(document).ready(() => {
                var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:20666/signalrhub").build();

                connection.start().then(() => {
                    console.log(connection.state);
                }).catch((err) => { console.log(err) });

                connection.on("receiveClientCount", (value) => {
                    $("#clientCount").text(value);
                });
            });
        </script>
</body>

</html>






