@model IList<ResultNotificationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/AdminLayoutIndex.cshtml";
    int count = 0;
}

<div class="container-fluid">
    <h4 class="page-title">Bildirim İşlemleri</h4>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Bildirim Listesi</div>
            </div>
            <div class="card-body">
                <div class="card-sub">
                    Bildirimler ile ilgili işlemleri buradan yapabilirsiniz.
                </div>
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Açıklama</th>
                            <th scope="col">Tarih</th>
                            <th scope="col">Durum</th>
                            <th scope="col">Sil</th>
                            <th scope="col">Güncelle</th>
                            <th scope="col">Okundu Yap</th>
                            <th scope="col">Okunmadı Yap</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.description</td>
                                <td>@item.date.ToString("dd MMM yyyy HH:mm")</td>
                                <td>@(item.status ? "Okundu" : "Okunmadı")</td>
                                <td><a href="/Admin/Notification/DeleteNotification/@item.id" class="btn btn-outline-danger btn-round">Sil</a></td>
                                <td><a href="/Admin/Notification/UpdateNotification/@item.id" class="btn btn-outline-success btn-round">Güncelle</a></td>
                                <td><a href="/Admin/Notification/ChangeStatusToTrue/@item.id" class="btn btn-outline-secondary btn-round">Okundu Yap</a></td>
                                <td><a href="/Admin/Notification/ChangeStatusToFalse/@item.id" class="btn btn-outline-secondary btn-round">Okunmadı Yap</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Admin/Notification/CreateNotification/" class="btn btn-outline-primary">Yeni Bildirim Ekle</a>
            </div>
        </div>
    </div>
</div>

