<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                @await Component.InvokeAsync("_UILayoutFooterContactComponentPartial")

            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    @await Component.InvokeAsync("_UILayoutFooterDetailComponenPartial")
                    @await Component.InvokeAsync("_UILayoutFooterSocialMediaComponentPartial")
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Haftanın Her Günü
                </h4>
                <p>
                    Açılış: 10.00 - Kapanış: 02.00
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> Tüm Hakları Saklıdır | 
                <a href="https://html.design/">SignalR Restoran</a><br><br>
                &copy; <span id="displayYear"></span>
                <a href="https://www.instagram.com/berkay.oguzz/" target="_blank">Berkay OĞUZ</a> Tarafından geliştirilmiştir.
            </p>
        </div>
    </div>
</footer>